extends ../layout/main
block variable
    - var version = "ua";
    - var pageName = "shops";
    
block meta
    title= 'ENVY Магазины'
    meta(name='description', content='')
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/forms-handler.js')
    script(defer src='./assets/scripts/menu.js')
    script(defer src="./assets/scripts/contacts.js")
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
    +breadcrumbs(['index.html','#'],['Главная', 'Магазины'])
    .content-block.color-bg.light-gray.contacts
        .contacts__left
        .title Контакты
        .shops-container
            - var obj = [{img:'shops/shop-image.jpg',shopName:'ENVY',adress: 'Киев, ул. Бассейная, 4, 2 этаж',tel:'(044) 230-95-57 (067) 225-84-81',scheldule: 'пн-вс: 10:00 до 21:00',},{img:'shops/shop-image1.jpg',shopName:'ENVY CONCEPT STORE',adress: 'Киев, ул. Владимирская, 37',tel:'(044) 278-10-68 (067) 322-36-21',scheldule: 'пн-вс: 10:00 до 21:00',},{img:'shops/shop-image2.jpg',shopName:'ENVY OUTLET',adress: 'Киев, ул. Городецкого, 10',tel:'(044) 278-08-30 (067) 322-36-01',scheldule: 'пн-вс: 10:00 до 21:00',},{img:'shops/shop-image3.jpg',shopName:'БУТИК PERSONA',adress: 'Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж',tel:'(067) 322-36-20',scheldule: 'пн-вс: 10:00 до 21:00',},{shopName:'БУТИК PERSONA',adress: 'Киев, ул. Большая Васильковская, 41',tel:'(067) 322-36-25',scheldule: 'пн-вс: 10:00 до 21:00',},{shopName:'БУТИК MORESCHI',adress: 'Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж',tel:'(067) 473-37-05',scheldule: 'пн-вс: 10:00 до 21:00',},{shopName:'БУТИК KITON',adress: 'Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж',tel:'(067) 474-72-82',scheldule: 'пн-вс: 10:00 до 21:00',},{shopName:'БУТИК KITON',adress: 'Киев, пер. Рыльский, 6',tel:'(067) 322-35-98',scheldule: 'пн-вс: 10:00 до 21:00',},{shopName:'STUART WEITZMAN',adress: 'Киев, ул. Бассейная, 4, 3 этаж',tel:'(044) 287-47-26 (067) 469-31-14',scheldule: 'пн-вс: 10:00 до 22:00',},{shopName:'MAX&MOI',adress: 'Киев, ул. Бассейная, 4, 3 этаж',tel:'(067) 473-22-15 (044) 287-27-10',scheldule: 'пн-вс: 10:00 до 21:00',},{shopName:'FABIANA FILIPPI',adress: 'Киев, ул. Бассейная, 4, 3 этаж',tel:'(067) 486-95-35',scheldule: 'пн-вс: 10:00 до 21:00',},{shopName:'БУТИК CANALI',adress: 'Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж',tel:'(067) 456-65-89',scheldule: 'пн-вс: 10:00 до 21:00',},{shopName:'БУТИК CANALI',adress: 'Киев, пер. Рыльский, 6',tel:'(067) 322-36-26',scheldule: 'пн-вс: 10:00 до 21:00',},{shopName:'БУТИК CORNELIANI',adress: 'Киев, ул. Бассейная, 4',tel:'(067) 322-35-97',scheldule: 'пн-вс: 10:00 до 21:00',},{shopName:'ГАЛЕРЕЯ МОД',adress: 'Киев, ул. Богговутовская, 17/21, ТЦ Променада Центр',tel:'(067) 322-36-22',scheldule: 'пн-вс: 10:00 до 21:00',},];
            each shop in obj
                .shop-card.no-image
                    .shop-card__text
                        .text.bold #{shop.shopName} 
                        .text 
                            +svg('marker')
                            span #{shop.adress}  
                        .text.shop-card__text-tel 
                            +svg('tel-tube-rose')
                            span #{shop.tel}  
                        .text 
                            +svg('clock')
                            span #{shop.scheldule}  
                    if shop.img !== undefined
                        +img(shop.img).shop-card__img
                    else
                        +img('test-image.jpg').shop-card__img
        form.contact-form(data-name="contact-form")
            legend Форма обратной связи: 
            .input-group
                +svg('letter')
                .input-group__icon
                input(autocomplete="off" name="name" data-required="true" type="text" data-pattern="" placeholder="Имя:*")
            .input-group
                +svg('tel-tube-rose')
                .input-group__icon
                input(autocomplete="off" name="tel" inputmode="tel" data-required="true" type="text" data-pattern="" placeholder="Телефон:*")
            .input-group.textarea
                +svg('dialog')
                .input-group__icon
                textarea(autocomplete="off" name="message"  type="text" data-pattern="" placeholder="Комментарий:")
            .page__toggle.checkbox-group.input-group.for-filter
                label.toggle
                    input.toggle__input(name="time" value="no" type='radio'  )
                    span.toggle__label
                        span.toggle__text.text Перезвонить сейчас
            .page__toggle.checkbox-group.input-group.for-filter
                label.toggle
                    input.toggle__input.time-radio-js(name="time" value="yes" type='radio')
                    span.toggle__label
                        span.toggle__text.text Укажите удобное время
            .input-group.time-group-js
                +svg('clock')
                .input-group__icon
                input(autocomplete="off" name="time-input"  type="text" data-pattern="" placeholder="В какое время вам перезвонить?")
            .help-span * поля со звездочкой обязательны для заполнения
            button.button-std.medium.green.green-light-icon.text-white.submit-js(type="submit")
                span Отправить
block footer
block header