extends ../layout/main
block variable
    - var version = "ua";
    - var pageName = "faq";
block meta
    title= 'Вопрос ответ - ENVY'
    meta(name='description', content='')
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/forms-handler.js')
    script(defer src='./assets/scripts/menu.js')
    script(defer src='./assets/scripts/service-menu-handler.js')
    script(defer src="./assets/scripts/faq.js")
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
    +breadcrumbs(['index.html','#'],['Главная','Вопрос ответ'])
    .content-block.light-gray.color-bg.faq
        .content-block__left
            include ../includes/faq-menu.pug
        .content-block__right 
            .title Вопрос ответ
            .text-block.brown
                .subtitle Envy Group
            -
                var faqs = [
                ['Какие бренды представлены в интернет-магазине?','Перечень брендов в интернет-магазине envy-shop.com - это тщательно продуманная подборка, которая  максимально ориентирована на потребности клиента. Зарегистрированные пользователи сайта имеют доступ к полному ассортименту товаров.'],
                ['Зачем мне подписываться на рассылку?','Чтобы всегда быть в курсе новых поступлений, акций, специальных предложений.'],
                ['Отличается ли цена товара в интернет-магазине от его стоимости в магазинах сети Envy group?','Нет, цена едина для всех магазинов. Исключением могут являться специальные акционные предложения и программы лояльности для зарегистрированных клиентов интернет-магазина.'],
                ['Куда обращаться с дополнительными вопросами?','Все интересующие вопросы вы можете задать по контактным телефонам указанным на сайте envy-shop.com. Время работы интернет-магазина Пн-Пт с 10:00 до 19:00.'],
                ];
            .questions-wrap
                each val in faqs 
                    .text-block.faq-part.white
                        .faq-part__question.text.text-smaller.bold 
                            span #{val[0]}
                            <svg class="faq-part__close" width="6" height="3" viewBox="0 0 6 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 -2.62268e-07L6 3L0 3L3 -2.62268e-07Z" fill="#222222"/>
                            </svg>
                        .faq-part__answer.text.text-smaller.pink 
                            div #{val[1]}
            .text-block.brown
                .subtitle Регистрация
                -
                    var faqs = [
                    ['Зачем нужна регистрация?','Регистрация на сайте позволит отслеживать историю покупок, вести список избранных товаров и новостей, а также сэкономит время на шопинг - введенные однажды, ваши данные будут автоматически отображаться при заказе. Также вы будете первыми получать информацию о новых поступлениях, распродажах, акциях и других специальных мероприятиях Еnvy-shop.com'],
                    ['Будете ли вы передавать кому-то мои данные? ','Нет. Мы уважаем Ваше доверие и гарантируем конфиденциальность информации. Данные останутся только в нашей базе, чтобы мы могли всегда обеспечить вам высокий уровень сервиса.'],
                    ['Что делать, если вы забыли свой пароль?','Нет. Мы уважаем Ваше доверие и гарантируем конфиденциальность информации. Данные останутся только в нашей базе, чтобы мы могли всегда обеспечить вам высокий уровень сервиса/'],
                    ['Kак купить?','С помощью меню выберите интересующий вас товар, укажите его размер и добавьте в корзину. Чтобы оформить заказ, укажите ваши личные данные, удобные способы оплаты и доставки. В ближайшее время с вами свяжется менеджер, чтобы подтвердить заказ и уточнить необходимые детали.Также на сайте доступна функция "Купить в 1 клик", с помощью которой вы можете оформить заказ в считанные секунды. Для этого выберите интересующий вас товар, укажите его размер и нажмите на кнопку "Купить в один клик". В появившемся окне оставьте ваш e-mail и номер телефона. В ближайшее время с вами свяжется менеджер, чтобы подтвердить заказ и уточнить необходимые детали.'],
                    ['Kак отменить заказ?','С помощью меню выберите интересующий вас товар, укажите его размер и добавьте в корзину. Чтобы оформить заказ, укажите ваши личные данные, удобные способы оплаты и доставки. В ближайшее время с вами свяжется менеджер, чтобы подтвердить заказ и уточнить необходимые детали.Также на сайте доступна функция "Купить в 1 клик", с помощью которой вы можете оформить заказ в считанные секунды. Для этого выберите интересующий вас товар, укажите его размер и нажмите на кнопку "Купить в один клик". В появившемся окне оставьте ваш e-mail и номер телефона. В ближайшее время с вами свяжется менеджер, чтобы подтвердить заказ и уточнить необходимые детали.'],
                    ];
            .questions-wrap
                each val in faqs 
                    .text-block.faq-part.white
                        .faq-part__question.text.text-smaller.bold 
                            span #{val[0]}
                            <svg class="faq-part__close" width="6" height="3" viewBox="0 0 6 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 -2.62268e-07L6 3L0 3L3 -2.62268e-07Z" fill="#222222"/>
                            </svg>
                        .faq-part__answer.text.text-smaller.pink 
                            div #{val[1]}
            .text-block.brown
                .subtitle Доставка/оплата
                -
                    var faqs = [
                    ['Какова стоимость доставки?','Мы осуществляем бесплатную доставку по всей территории Украины.'],
                    ['Как оплатить товар?','Вы можете оплатить товар любым, удобным для вас способом:- наличными курьеру при получении или при самовывозе;- банковской картой на сайте- наложенным платежом при получении.Больше информации об оплате и доставке вы найдете в разделе Сервис – Доставка/оплата.'],
                    ['Как правильно выбрать обувь?','Покупая обувь, уделяйте большое внимание правильному выбору необходимого размера и полноты обуви. Стопа в обуви не должна быть сжатой, так как в случае несоответствия размеров обуви могут возникнуть проблемы: с одной стороны, неправильный выбор ставит под угрозу здоровье ног, а с другой - это может привести к деформации обуви, разрыву швов, появлению трещин и заломов. Неверно подобранная по размеру или полноте обувь не является причиной для обращения с претензией. При выборе обратите внимание на назначение обуви (рабочая, для отдыха, модельная, повседневная, спортивная и т.д.). Форма и высота каблука должны соответствовать телосложению потребителя. Сначала носите обувь недолго, чтобы она могла приспособиться к форме ноги. На работе носите обувь удобную, на каблуке высотой 30 - 40 мм, с учетом возраста. Модельная обувь предназначается для краткосрочного ношения на выход; спортивная - для занятий спортом.'],
                    ['Как ухаживать за обувью?','После каждого ношения приводите обувь в порядок. Сушите влажную обувь при комнатной температуре без использования отопительных и нагревательных приборов, источников тепла, избегая прямых солнечных лучей и используя внутренние вставки-каркасы для сохранения формы обуви. Обувь и кожгалантерейные изделия должны быть защищены от попадания прямых солнечных лучей, от воздействия паров, газов и химических веществ (щелочей, кислот, активных растворителей и т.д.). Обувь не следует мыть и сильно тереть, так как обувь потеряет свой первоначальный внешний вид. Обувь запрещается стирать в стиральной машине, а также использовать отбеливатель. Надевайте обувь только розшнурованной (расстегнутой), пользуйтесь рожками для обуви - это поможет предотвратить разрыв заднего шва и сохранит форму обуви. Не перетягивайте шнурки на голеностопном суставе для предотвращения разрыва кожи и крепления. Не снимайте обувь не розшнурованной и наступайте на задник - это предотвратит отрыв подошвы. Осторожно обходитесь с декоративной фурнитурой на обуви.   Не носите обувь с подошвой из натуральной кожи, кожаной обтяжкой каблука, с верхом из тканей, а также обувь прошивного метода крепления в дождливую погоду. Промокание такой обуви не является причиной для обращения с претензией. Всегда обращайте внимание на материал и способ крепления подошвы. Производитель гарантирует водонепроницаемость только на резиновую обувь и обувь с использованием водонепроницаемых мембран. Не носите обувь на высоких или тонких каблуках по гравию, щебню, мостовой, поскольку это может привести к повреждению обуви или получения травмы. Модельная обувь предназначена для ношения в условиях ровной, твердой поверхности. Ношение этой обуви в снежную погоду может привести к оседанию на ее поверхности соли и других химикатов, используемых коммунальными службами для ускорения таяния снега. Пятна на обуви, возникающие при этом, не должны быть основанием для предъявления претензий производителю. При соблюдении вышеуказанных правил эксплуатации и ухода магазин гарантирует высокое качество товаров в течение срока службы установленного законодательством Украины и нормативно-технической документацией.'],
                    ];
            .questions-wrap
                each val in faqs 
                    .text-block.faq-part.white
                        .faq-part__question.text.text-smaller.bold 
                            span #{val[0]}
                            <svg class="faq-part__close" width="6" height="3" viewBox="0 0 6 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 -2.62268e-07L6 3L0 3L3 -2.62268e-07Z" fill="#222222"/>
                            </svg>
                        .faq-part__answer.text.text-smaller.pink 
                            div #{val[1]}
        .invisible-block-js.invisible-block.mobile-popup-menu-js
            .subtitle Сервис
            <svg class="close" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g class="close-show">
                    <line style="transform-origin:center" x1="29.6491" y1="29.3562" x2="0.435722" y2="0.572686" stroke="#222222"/>
                    <line style="transform-origin:center" x1="0.422679" y1="29.4136" x2="29.6492" y2="0.643613" stroke="#222222"/>
                </g>
            </svg>
block footer
block header