extends ../layout/main
block variable
    - var version = "ua";
    - var pageName = "shops";
    
block meta
    title= 'ENVY Магазины'
    meta(name='description', content='')
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/forms-handler.js')
    script(defer src='./assets/scripts/menu.js')
    script(defer src="./assets/scripts/shops.js")
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
    +breadcrumbs(['index.html','#'],['Главная', 'Магазины'])
    .sizes-popup-content-js.sizes-popup-content.sizes-popup-content-default
        +svg('horizontal-lines')
        .subtitle Таблица размеров Трикотаж
        <svg class="mfp-close" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.6688 35.6688C11.5505 35.5505 11.484 35.39 11.484 35.2227C11.484 35.0554 11.5505 34.895 11.6688 34.7767L22.6818 23.7636L11.9052 12.987C11.7868 12.8687 11.7204 12.7083 11.7204 12.541C11.7204 12.3737 11.7868 12.2132 11.9052 12.0948C12.0235 11.9765 12.184 11.9101 12.3513 11.9101C12.5186 11.9101 12.679 11.9765 12.7973 12.0948L23.5739 22.8715L34.306 12.1394C34.4243 12.0211 34.5847 11.9547 34.752 11.9547C34.9193 11.9547 35.0798 12.0211 35.1981 12.1394C35.3164 12.2577 35.3829 12.4182 35.3829 12.5856C35.3829 12.7529 35.3164 12.9132 35.1981 13.0316L24.466 23.7636L35.4345 34.7321C35.5528 34.8504 35.6193 35.0108 35.6193 35.1781C35.6193 35.3454 35.5528 35.5059 35.4345 35.6242C35.3162 35.7425 35.1557 35.809 34.9884 35.809C34.8211 35.809 34.6607 35.7425 34.5424 35.6242L23.5739 24.6557L12.5609 35.6688C12.4426 35.7871 12.2821 35.8536 12.1148 35.8536C11.9475 35.8536 11.7871 35.7871 11.6688 35.6688Z" fill="url(#paint0_linearsizes-popup)"/>
            <defs>
            <linearGradient id="paint0_linearsizes-popup" x1="23.5293" y1="0.470647"  x2="0.075159" y2="25.8793" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FAA6A6"/>
            <stop offset="1" stop-color="#F8CEBC"/>
            </linearGradient>
            </defs>
            </svg>
        table.size-table.size-table-default
            tr
                td.text 
                td.text XXS	
                td.text XS	
                td.text S	
                td.text M	
                td.text L	
                td.text XL	
                td.text XXL	
                td.text 3XL	
                td.text 4XL	
                td.text 5XL	
                td.text 6XL
            tr
                td.text Европа
                td.text 
                td.text 46	
                td.text 48	
                td.text 50	
                td.text 52	
                td.text 54	
                td.text 56	
                td.text 58	
                td.text 60	
                td.text 62	

            tr
                td.text Сорочки:
                td.text 
                td.text 38	
                td.text 39	
                td.text 40	
                td.text 41	
                td.text 42	
                td.text 43	
                td.text 44	
                td.text 45	
                td.text 46	
                td.text 47
    .sizes-popup-content-js.sizes-popup-content.sizes-popup-content-default
        +svg('horizontal-lines')
        .subtitle Таблица размеров Костюмы и пиджаки
        <svg class="mfp-close" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.6688 35.6688C11.5505 35.5505 11.484 35.39 11.484 35.2227C11.484 35.0554 11.5505 34.895 11.6688 34.7767L22.6818 23.7636L11.9052 12.987C11.7868 12.8687 11.7204 12.7083 11.7204 12.541C11.7204 12.3737 11.7868 12.2132 11.9052 12.0948C12.0235 11.9765 12.184 11.9101 12.3513 11.9101C12.5186 11.9101 12.679 11.9765 12.7973 12.0948L23.5739 22.8715L34.306 12.1394C34.4243 12.0211 34.5847 11.9547 34.752 11.9547C34.9193 11.9547 35.0798 12.0211 35.1981 12.1394C35.3164 12.2577 35.3829 12.4182 35.3829 12.5856C35.3829 12.7529 35.3164 12.9132 35.1981 13.0316L24.466 23.7636L35.4345 34.7321C35.5528 34.8504 35.6193 35.0108 35.6193 35.1781C35.6193 35.3454 35.5528 35.5059 35.4345 35.6242C35.3162 35.7425 35.1557 35.809 34.9884 35.809C34.8211 35.809 34.6607 35.7425 34.5424 35.6242L23.5739 24.6557L12.5609 35.6688C12.4426 35.7871 12.2821 35.8536 12.1148 35.8536C11.9475 35.8536 11.7871 35.7871 11.6688 35.6688Z" fill="url(#paint0_linearsizes-popup)"/>
            <defs>
            <linearGradient id="paint0_linearsizes-popup" x1="23.5293" y1="0.470647"  x2="0.075159" y2="25.8793" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FAA6A6"/>
            <stop offset="1" stop-color="#F8CEBC"/>
            </linearGradient>
            </defs>
            </svg>
        table.size-table.size-table-default
            tr
                td.text 
                td.text XS	
                td.text S	
                td.text M	
                td.text L	
                td.text XL	
                td.text XXL	
                td.text(colspan="3") 3XL			
                td.text(colspan="2") 4XL		
                td.text(colspan="2") 5XL	
            tr
                td.text УКРАИНА	
                td.text 44	
                td.text 46	
                td.text 48	
                td.text 50	
                td.text 52	
                td.text 54	
                td.text 56	
                td.text 58	
                td.text 60	
                td.text 62	
                td.text 64	
                td.text 66	
                td.text 68
            tr
                td.text ОБХВАТ ГРУДИ (СМ)	
                td.text 92	
                td.text 96	
                td.text 100	
                td.text 104	
                td.text 108	
                td.text 112	
                td.text 116	
                td.text 120	
                td.text 124	
                td.text 128	
                td.text 132	
                td.text 136	
                td.text 140
            tr
                td.text ОБХВАТ ТАЛИИ (СМ)	
                td.text 76	
                td.text 82	
                td.text 88	
                td.text 94	
                td.text 100	
                td.text 106	
                td.text 112	
                td.text 118	
                td.text 120	
                td.text 124	
                td.text 128	
                td.text 132	
                td.text 136
            tr
                td.text ОБХВАТ БЁДЕР (СМ)	
                td.text 96	
                td.text 100	
                td.text 104	
                td.text 108	
                td.text 112	
                td.text 116	
                td.text 120	
                td.text 124	
                td.text 128	
                td.text 132	
                td.text 134	
                td.text 136	
                td.text 138
            tr 
                td.text ДЛИНА РУКАВА (СМ)	
                td.text 60	
                td.text 61	
                td.text 62	
                td.text(colspan="2") 63		
                td.text(colspan="2") 64		
                td.text(colspan="2") 65		
                td.text(colspan="4") 66			
    .sizes-popup-content-js.sizes-popup-content.sizes-popup-content-default
        +svg('horizontal-lines')
        .subtitle Таблица размеров Джинсы
        <svg class="mfp-close" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.6688 35.6688C11.5505 35.5505 11.484 35.39 11.484 35.2227C11.484 35.0554 11.5505 34.895 11.6688 34.7767L22.6818 23.7636L11.9052 12.987C11.7868 12.8687 11.7204 12.7083 11.7204 12.541C11.7204 12.3737 11.7868 12.2132 11.9052 12.0948C12.0235 11.9765 12.184 11.9101 12.3513 11.9101C12.5186 11.9101 12.679 11.9765 12.7973 12.0948L23.5739 22.8715L34.306 12.1394C34.4243 12.0211 34.5847 11.9547 34.752 11.9547C34.9193 11.9547 35.0798 12.0211 35.1981 12.1394C35.3164 12.2577 35.3829 12.4182 35.3829 12.5856C35.3829 12.7529 35.3164 12.9132 35.1981 13.0316L24.466 23.7636L35.4345 34.7321C35.5528 34.8504 35.6193 35.0108 35.6193 35.1781C35.6193 35.3454 35.5528 35.5059 35.4345 35.6242C35.3162 35.7425 35.1557 35.809 34.9884 35.809C34.8211 35.809 34.6607 35.7425 34.5424 35.6242L23.5739 24.6557L12.5609 35.6688C12.4426 35.7871 12.2821 35.8536 12.1148 35.8536C11.9475 35.8536 11.7871 35.7871 11.6688 35.6688Z" fill="url(#paint0_linearsizes-popup)"/>
            <defs>
            <linearGradient id="paint0_linearsizes-popup" x1="23.5293" y1="0.470647"  x2="0.075159" y2="25.8793" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FAA6A6"/>
            <stop offset="1" stop-color="#F8CEBC"/>
            </linearGradient>
            </defs>
            </svg>
        table.size-table.size-table-default
            tr
                td.text
                td.text(colspan="2") XS		
                td.text(colspan="2") S		
                td.text(colspan="2") M		
                td.text(colspan="2") L		
                td.text(colspan="2") XL		
                td.text XXL	
                td.text 3XL	
                td.text 4XL	
                td.text 5XL	
                td.text 6XL

            tr 
                td.text МЕЖДУНАРОДНЫЕ	
                td.text 28	
                td.text 29	
                td.text 30	
                td.text 31	
                td.text 32	
                td.text 33	
                td.text 34	
                td.text 35	
                td.text 36	
                td.text 37	
                td.text 38	
                td.text 40	
                td.text 42	
                td.text 44	
                td.text 46
            tr 
                td.text ИТАЛИЯ	
                td.text(colspan="2") 44		
                td.text 46	
                td.text 47	
                td.text 48	
                td.text 49	
                td.text(colspan="2") 50		
                td.text(colspan="2") 52		
                td.text 54	
                td.text 56	
                td.text 58	
                td.text 60	
                td.text 62
    .sizes-popup-content-js.sizes-popup-content.sizes-popup-content-default
        +svg('horizontal-lines')
        .subtitle Таблица размеров Верхняя одежда
        <svg class="mfp-close" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.6688 35.6688C11.5505 35.5505 11.484 35.39 11.484 35.2227C11.484 35.0554 11.5505 34.895 11.6688 34.7767L22.6818 23.7636L11.9052 12.987C11.7868 12.8687 11.7204 12.7083 11.7204 12.541C11.7204 12.3737 11.7868 12.2132 11.9052 12.0948C12.0235 11.9765 12.184 11.9101 12.3513 11.9101C12.5186 11.9101 12.679 11.9765 12.7973 12.0948L23.5739 22.8715L34.306 12.1394C34.4243 12.0211 34.5847 11.9547 34.752 11.9547C34.9193 11.9547 35.0798 12.0211 35.1981 12.1394C35.3164 12.2577 35.3829 12.4182 35.3829 12.5856C35.3829 12.7529 35.3164 12.9132 35.1981 13.0316L24.466 23.7636L35.4345 34.7321C35.5528 34.8504 35.6193 35.0108 35.6193 35.1781C35.6193 35.3454 35.5528 35.5059 35.4345 35.6242C35.3162 35.7425 35.1557 35.809 34.9884 35.809C34.8211 35.809 34.6607 35.7425 34.5424 35.6242L23.5739 24.6557L12.5609 35.6688C12.4426 35.7871 12.2821 35.8536 12.1148 35.8536C11.9475 35.8536 11.7871 35.7871 11.6688 35.6688Z" fill="url(#paint0_linearsizes-popup)"/>
            <defs>
            <linearGradient id="paint0_linearsizes-popup" x1="23.5293" y1="0.470647"  x2="0.075159" y2="25.8793" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FAA6A6"/>
            <stop offset="1" stop-color="#F8CEBC"/>
            </linearGradient>
            </defs>
            </svg>
        table.size-table.size-table-default
            tr
                td.text 	
                td.text XS	
                td.text S	
                td.text M	
                td.text L	
                td.text XL	
                td.text XXL	
                td.text 3XL	
                td.text 4XL	
                td.text 5XL	
                td.text 6XL
            tr
                td.text ЕВРОПА	
                td.text 46	
                td.text 48	
                td.text 50	
                td.text 52	
                td.text 54	
                td.text 56	
                td.text 58	
                td.text 60	
                td.text 62	
                td.text 64






    .content-block.color-bg.light-gray.shops
        .title Магазины
        .shops-container
            - var obj = [{img:"shops/shop-image.jpg",shopName:"ENVY",adress:"Киев, ул. Бассейная, 4, 2 этаж",tel:"(044)230-95-57 (067)225-84-81",link_tel:"(044)230-95-57 ",scheldule:"пн-вс: 10:00 до 21:00"},{img:"shops/shop-image1.jpg",shopName:"ENVY CONCEPT STORE",adress:"Киев, ул. Владимирская, 37",tel:"(044)278-10-68 (067)322-36-21",link_tel:"(044)278-10-68",scheldule:"пн-вс: 10:00 до 21:00"},{img:"shops/shop-image2.jpg",shopName:"ENVY OUTLET",adress:"Киев, ул. Городецкого, 10",tel:"(044)278-08-30 (067)322-36-01",link_tel:"(044)278-08-30 ",scheldule:"пн-вс: 10:00 до 21:00"},{img:"shops/shop-image3.jpg",shopName:"БУТИК PERSONA",adress:"Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж",tel:"(067)322-36-20",link_tel:"(067)322-36-20",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК PERSONA",adress:"Киев, ул. Большая Васильковская, 41",tel:"(067)322-36-25",link_tel:"(067)322-36-25",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК MORESCHI",adress:"Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж",tel:"(067)473-37-05",link_tel:"(067)473-37-05",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК KITON",adress:"Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж",tel:"(067)474-72-82",link_tel:"(067)474-72-82",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК KITON",adress:"Киев, пер. Рыльский, 6",tel:"(067)322-35-98",link_tel:"(067)322-35-98",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"STUART WEITZMAN",adress:"Киев, ул. Бассейная, 4, 3 этаж",tel:"(044)287-47-26 (067)469-31-14",link_tel:"(044)287-47-26",scheldule:"пн-вс: 10:00 до 22:00"},{shopName:"MAX&MOI",adress:"Киев, ул. Бассейная, 4, 3 этаж",tel:"(067)473-22-15 (044)287-27-10",link_tel:"(067)473-22-15",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"FABIANA FILIPPI",adress:"Киев, ул. Бассейная, 4, 3 этаж",tel:"(067)486-95-35",link_tel:"(067)486-95-35",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК CANALI",adress:"Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж",tel:"(067)456-65-89",link_tel:"(067)456-65-89",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК CANALI",adress:"Киев, пер. Рыльский, 6",tel:"(067)322-36-26",link_tel:"(067)322-36-26",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК CORNELIANI",adress:"Киев, ул. Бассейная, 4",tel:"(067)322-35-97",link_tel:"(067)322-35-97",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"ГАЛЕРЕЯ МОД",adress:"Киев, ул. Богговутовская, 17/21, ТЦ Променада Центр",tel:"(067)322-36-22",link_tel:"(067)322-36-22",scheldule:"пн-вс: 10:00 до 21:00"}];
            each shop in obj
                .shop-card
                    .shop-card__text
                        .text.bold #{shop.shopName} 
                        a(target='_blank' href='https://maps.google.com/?q='+shop.adress.replace(/ /g,'')).text 
                            +svg('marker')
                            span #{shop.adress}  
                        a(href='tel:'+shop.link_tel).text.shop-card__text-tel 
                            +svg('tel-tube-rose')
                            span #{shop.tel}  
                        .text 
                            +svg('clock')
                            span #{shop.scheldule}  
                    if shop.img !== undefined
                        +img(shop.img).shop-card__img
                    else
                        +img('test-image.jpg').shop-card__img

block footer
block header