extends ../layout/main
block variable
    - var version = "ua";
    - var pageName = "shops";
    
block meta
    title= 'ENVY Магазины'
    meta(name='description', content='')
block scripts
    script(defer src='./assets/scripts/libs.js')
    script(defer src='./assets/scripts/index.js')
    script(defer src='./assets/scripts/forms-handler.js')
    script(defer src='./assets/scripts/menu.js')
    script(defer src="./assets/scripts/shops.js")
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
    +breadcrumbs(['index.html','#'],['Главная', 'Магазины'])
    .content-block.color-bg.light-gray.shops
        .title Магазины
        .shops-container
            - var obj = [{img:"shops/shop-image.jpg",shopName:"ENVY",adress:"Киев, ул. Бассейная, 4, 2 этаж",tel:"(044)230-95-57 (067)225-84-81",link_tel:"(044)230-95-57 ",scheldule:"пн-вс: 10:00 до 21:00"},{img:"shops/shop-image1.jpg",shopName:"ENVY CONCEPT STORE",adress:"Киев, ул. Владимирская, 37",tel:"(044)278-10-68 (067)322-36-21",link_tel:"(044)278-10-68",scheldule:"пн-вс: 10:00 до 21:00"},{img:"shops/shop-image2.jpg",shopName:"ENVY OUTLET",adress:"Киев, ул. Городецкого, 10",tel:"(044)278-08-30 (067)322-36-01",link_tel:"(044)278-08-30 ",scheldule:"пн-вс: 10:00 до 21:00"},{img:"shops/shop-image3.jpg",shopName:"БУТИК PERSONA",adress:"Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж",tel:"(067)322-36-20",link_tel:"(067)322-36-20",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК PERSONA",adress:"Киев, ул. Большая Васильковская, 41",tel:"(067)322-36-25",link_tel:"(067)322-36-25",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК MORESCHI",adress:"Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж",tel:"(067)473-37-05",link_tel:"(067)473-37-05",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК KITON",adress:"Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж",tel:"(067)474-72-82",link_tel:"(067)474-72-82",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК KITON",adress:"Киев, пер. Рыльский, 6",tel:"(067)322-35-98",link_tel:"(067)322-35-98",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"STUART WEITZMAN",adress:"Киев, ул. Бассейная, 4, 3 этаж",tel:"(044)287-47-26 (067)469-31-14",link_tel:"(044)287-47-26",scheldule:"пн-вс: 10:00 до 22:00"},{shopName:"MAX&MOI",adress:"Киев, ул. Бассейная, 4, 3 этаж",tel:"(067)473-22-15 (044)287-27-10",link_tel:"(067)473-22-15",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"FABIANA FILIPPI",adress:"Киев, ул. Бассейная, 4, 3 этаж",tel:"(067)486-95-35",link_tel:"(067)486-95-35",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК CANALI",adress:"Киев, ул. Бассейная, 4, ТЦ Мандарин Плаза, 2 этаж",tel:"(067)456-65-89",link_tel:"(067)456-65-89",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК CANALI",adress:"Киев, пер. Рыльский, 6",tel:"(067)322-36-26",link_tel:"(067)322-36-26",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"БУТИК CORNELIANI",adress:"Киев, ул. Бассейная, 4",tel:"(067)322-35-97",link_tel:"(067)322-35-97",scheldule:"пн-вс: 10:00 до 21:00"},{shopName:"ГАЛЕРЕЯ МОД",adress:"Киев, ул. Богговутовская, 17/21, ТЦ Променада Центр",tel:"(067)322-36-22",link_tel:"(067)322-36-22",scheldule:"пн-вс: 10:00 до 21:00"}];
            each shop in obj
                .shop-card
                    .shop-card__text
                        .text.bold #{shop.shopName} 
                        a(target='_blank' href='https://maps.google.com/?q='+shop.adress.replace(/ /g,'')).text 
                            +svg('marker')
                            span #{shop.adress}  
                        a(href='tel:'+shop.link_tel).text.shop-card__text-tel 
                            +svg('tel-tube-rose')
                            span #{shop.tel}  
                        .text 
                            +svg('clock')
                            span #{shop.scheldule}  
                    if shop.img !== undefined
                        +img(shop.img).shop-card__img
                    else
                        +img('test-image.jpg').shop-card__img

block footer
block header